# Hytale Installation Path Override
# Uncomment and set if your Hytale installation is not in the default location.
# Windows Example:
# hytaleHome=C\:\\Program Files (x86)\\Hytale
# Mac Example:
# hytaleHome=/Users/Username/Library/Application Support/Hytale
# Linux Example:
# hytaleHome=/home/username/.local/share/Hytale

# hytaleHome=/path/to/hytale
